@model RecoreView;
<table class = "table" id="view">
    <thead>
        <tr>
        @foreach(var item in Model.Columns){
            <th>@item.Value</th>
        }
        </tr>
    </thead>
<tbody>
</tbody>
</table>
<script type="text/javascript">
    var columns = [
        @Html.Raw(string.Join(",", Model.Columns.Keys.Select(k => $"'{k}'")))
    ];
    var target = document.querySelector("tbody");
    var request = new XMLHttpRequest();
    request.open("GET", "/data/@Model.recordType/")
    request.onreadystatechange = function(){
        if (request.readyState >= 4){
            var result = JSON.parse(request.responseText);
            result.forEach(function (row) {
                var newRow = document.createElement("tr");
                columns.forEach(function (column) {
                    var newColumn = document.createElement("td");
                    newColumn.innerText = row.data[column];
                    newRow.appendChild(newColumn);
                });
                target.appendChild(newRow);
            });
        }
    };
    request.send();
</script>