@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
    <div class = "card-header"><h5>@(ViewData["Form"].FormName)</h5></div>
    <div class="card-body">
        @Html.Partial("../Partials/Form", ViewData["Form"] )
    </div>
</div>
